html {
	font-family: monospace;
}

body {
	background-color: #e2e1e0;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

header {
	height: 60px;
	background-color: #333;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}

nav {
	width: 100%;
	padding: 0% 2% 0% 2%;
	display: flex;
}

main {
	width: 100%;
	height: 100%;
	position: relative;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.green {
	color: #4dd82d;
}

.red {
	color: #d82e2e;
}

.container-nav-left {
	flex-grow: 1;
	color: #e2e1e0;
	display: flex;
	align-items: center;
}

.nav-logoname {
	font-family: 'Arial Regular';
	font-size: x-large;
	font-weight: bold;
	color: #e2e1e0;
    text-decoration: none;
}

.container-nav-right {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-basecurrency {
    height: 60px;
    background-color: #333;
    color: #e2e1e0;
    font-size: large;
    text-align: center;
    text-align-last: center;
    border: 0px;
    padding: 0px 5px;
    margin: 0px 10px 0px 0px;
    outline: 0 none;
    cursor: pointer;
}

.box {
	background-color: #fff;
	margin: 20px 0px 20px 0px;
	padding: 2px 5px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}

.box-overview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-details-overview {
	
}

.box-details-chart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#overview-container {
	
}

.overview-container {
	width: 96%;
	height: 100%;
	margin: auto;
}

.table-overview {
	display: block;
	overflow-x: auto;
	border-collapse: collapse;
}

#thead-overview th {
	padding: 10px 20px 10px 20px;
	cursor: pointer;
}

#tbody-overview tr:hover {
	background-color: #e2e1e0;
	cursor: pointer;
}

#tbody-overview td {
	border-top: 1px solid #e2e1e0;
	padding: 7px 15px 7px 15px;
}

#tbody-overview td:nth-child(1) {
	text-align: center;
}

#tbody-overview td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
	text-align: right;
}

.tbody-overview-icon {
	vertical-align: middle;
}

#details-container {
	display: none;
}

.grid-container{
	display: grid;
	grid-template-columns: auto;
	width: 100%;
	margin: auto;
}

.details-container {
	width: 96%;
	height: 100%;
	margin: auto;
}

#details-goback {
	margin: 5px 10px 5px 10px;
	cursor: pointer;
	font-size: x-large;
	font-weight: bold;
}

#details-currency {
	margin: 5px 5px 5px 5px;
	font-size: x-large;
	font-weight: bold;
}

.chart-price {
	width: 100%;
	display: flex;
}

.chart-price-close {
	width: 50%;
	padding: 0px 0px 0px 5px;
	display: flex;
	flex-direction: column;
}

#chart-price-close {
	font-size: x-large;
}

#chart-price-diff {
	font-size: small;
}

.chart-price-extrema {
	width: 50%;
	padding: 0px 5px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.chart-settings {
	width: 100%;
	display: flex;
}

.chart-zoom {
	flex-grow: 1;
	background-color: transparent;
	border: 1px solid #e2e1e0; 
	margin: 5px 5px 5px 5px;
	padding: 3px 5px 3px 5px;
	text-align: center;
	text-align-last: center;
	cursor: pointer;
}

.chart-limit {
	flex-grow: 1;
	background-color: transparent;
	border: 1px solid #e2e1e0; 
	margin: 5px 5px 5px 5px;
	padding: 3px 5px 3px 5px;
	text-align: center;
	text-align-last: center;
	cursor: pointer;
}

.chart-scale {
	flex-grow: 1;
	background-color: transparent;
	border: 1px solid #e2e1e0; 
	margin: 5px 5px 5px 5px;
	padding: 3px 5px 3px 5px;
	text-align: center;
	text-align-last: center;
	cursor: pointer;
}



/* keep this for now
.chart-zoom {
	padding: 0px;
	width: 100%;
	display: flex;
	border: solid 1px #e2e1e0;
	margin: 10px 0px 10px 0px;
	overflow-x: auto;
}

.chart-zoom li {
	width: 100%;
	display: block;
}

.chart-zoom label {
	display: block;
	text-align: center;
	cursor: pointer;
	padding: 5px 25px;
}

.chart-zoom input[type=radio] {
	position: absolute;
	visibility: hidden;
	display: none;
}

.chart-zoom input[type=radio]:checked + label {
	color: #fff;
	background-color: #e2e1e0;
}

.chart-zoom li + li {
	border-left: solid 1px #e2e1e0;
}
*/

.chart {
	width: 99%;
	height: 400px;
}

.sm {
	position: initial;
	top: 0px;
	left: 0px;
}
.md {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.lg {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.xl {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/* tablet */
@media(min-width: 760px) {
	.box {
		padding: 3px 7px;
	}
	.chart {
		height: 500px;
	}
	.sm {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.md {
		position: initial;
		top: 0px;
		left: 0px;
	}
}

/* medium sized monitor */
@media(min-width: 980px) {
	.box {
		padding: 5px 10px;
	}
	.chart {
		height: 600px;
	}
	.md {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.lg {
		position: initial;
		top: 0px;
		left: 0px;
	}
}

/* big sized monitor */
@media(min-width: 1280px) {
	.box {
		padding: 7px 12px;
	}
	.chart {
		height: 700px;
	}
	.lg {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.xl {
		position: initial;
		top: 0px;
		left: 0px;
	}
	
}
