body {
	background-color: #e2e1e0;
	margin: 0px;
	padding: 0px;
}

header {
	height: 60px;
	background-color: #333;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}

nav {
	width: 100%;
	display: flex;
}

main {
	width: 100%;
	height: 100%;
	position: relative;
}

.green {
	color: #4dd82d;
}

.red {
	color: #d82e2e;
}

.container-nav-left {
	width: 50%;
	color: #e2e1e0;
	font-family: 'Arial Regular';
	font-size: 20px;
	font-weight: bold;
	padding: 0% 0% 0% 5%;
	display: flex;
	align-items: center;
}

.container-nav-right {
	width: 50%;
	padding: 0% 5% 0% 0%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-basecurrency {
	height: 60px;
	background-color: #333;
	color: #e2e1e0;
	text-align-last: center;
	border: 0px;
	padding: 0px 10px;
	margin: 0px 15px 0px 0px;
	outline: 0 none;
	cursor: pointer;
}

.nav-settings {
	width: 40px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.box {
	background-color: #fff;
	margin: 20px 0px 20px 0px;
	padding: 5px 10px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}

.box-overview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#overview-container {
	
}

.overview-container {
	width: 96%;
	height: 100%;
	margin: auto;
}

.table-overview {
	display: block;
	overflow-x: auto;
	border-collapse: collapse;
}

#thead-overview th {
	padding: 10px 20px 10px 20px;
}

#tbody-overview tr:hover {
	background-color: #e2e1e0;
	cursor: pointer;
}

#tbody-overview td {
	border-top: 1px solid #e2e1e0;
	padding: 7px 15px 7px 15px;
}

#tbody-overview td:nth-child(1) {
	text-align: center;
}

#tbody-overview td:nth-child(2), td:nth-child(3), td:nth-child(4) {
	text-align: right;
}

#details-container {
	
}

.details-container {
	width: 96%;
	height: 100%;
	margin: auto;
}

.chart-price {
	width: 100%;
	display: flex;
}

.chart-price-close {
	width: 50%;
	padding: 0px 0px 0px 5px;
	display: flex;
	flex-direction: column;
}

.chart-price-extrema {
	width: 50%;
	padding: 0px 5px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.chart-zoom {
	padding: 0px;
	width: 100%;
	display: flex;
	border: solid 1px #e2e1e0;
	margin: 10px 0px 10px 0px;
	overflow-x: auto;
}

.chart-zoom li {
	width: 100%;
	display: block;
}

.chart-zoom label {
	display: block;
	text-align: center;
	cursor: pointer;
	padding: 5px 25px;
}

.chart-zoom input[type=radio] {
	position: absolute;
	visibility: hidden;
	display: none;
}

.chart-zoom input[type=radio]:checked + label {
	color: #fff;
	background-color: #e2e1e0;
}

.chart-zoom li + li {
	border-left: solid 1px #e2e1e0;
}

.chart {
	width: 99%;
	height: 500px;
}

#settings-container {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	z-index: 2;
}

.settings-container {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.radio-group input[type=radio] {
	position: absolute;
	visibility: hidden;
	display: none;
}

.radio-group label {
	color: #ccc;
	display: inline-block;
	cursor: pointer;
	padding: 5px 25px;
}

.radio-group input[type=radio]:checked + label {
	color: #000;
	background: #e2e1e0;
}

.radio-group label + input[type=radio] + label {
	border-left: solid 1px #e2e1e0;
}

.radio-group {
	border: solid 1px #e2e1e0;
	margin: 5px 0px 20px 0px;
	display: inline-block;
	overflow: hidden;
	box-shadow: 0px 1px 3px rgba(226,225,224,0.12), 0px 1px 2px rgba(226,225,224,0.24);
}

@media(max-width: 600px) {
	.box {
		padding: 2px 5px;
	}
	.chart {
		height: 300px;
	}
	label {
		padding: 5px 5px;
	}
}
